<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name = "description" content = "<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script> 
    <!-- defer waits for script to load -->
</head>
<body>


    <div class="container">
        <%- include('../partials/header_admin.ejs')%> 
        <!-- //header can be defined right here but we draw it from partials folder -->
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer_admin.ejs')%> 

    </div>


</body>
</html>